div.Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
}
.Quiz {
  margin: 0;
  color: #440179;
  font-size: 64px;
  font-family: Inika;
  font-weight: 400;
}
div.Group1 {
  width: max-content;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}
.links {
  margin: 3px;
  max-width: max-content;
  background: #8b00f8;
  color: #bd85e9;
  font-size: 24px;
  font-family: Inika;
  font-weight: 400px;
  text-decoration: none;
  text-align: justify;
}
.MainContent {
  width: 1440px;
  height: 823px;
  position: relative;
}
.Footer {
  height: 100px;
  position: relative;
  background: #440179;
  display: grid;
}
.ImportantLinks {
  color: white;
  font-size: 16px;
  font-family: Inika;
  font-weight: 400;
  max-height: min-content;
}
.Implinks {
  margin: 0px 0px;
  list-style-type: none;
  float: left;
  padding: 0px;
}
.SeePricing {
  color: white;
  font-size: 16px;
  font-family: Inika;
  font-weight: 400;
  text-decoration: none;
}
