body {
  background: linear-gradient(
        to bottom right,
        rgba(189, 133, 233, 1),
        rgba(95, 16, 156, 1)
      )
      bottom right,
    linear-gradient(
        to bottom left,
        rgba(189, 133, 233, 1),
        rgba(95, 16, 156, 1)
      )
      bottom left,
    linear-gradient(to top left, rgba(189, 133, 233, 1), rgba(95, 16, 156, 1))
      top left,
    linear-gradient(to top right, rgba(189, 133, 233, 1), rgba(95, 16, 156, 1))
      top right;

  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}
